/* Give your page a fun background color */
body{
    color: white;
    background-color:rgb(107, 50, 107);
}

/* Make the header and footer a different color from the background */
header{
    color: rgb(107, 50, 107);
    background-color: rgb(209, 197, 129);
}

/* Align the h1 containing your name in the center of the header*/
 h1{
    text-align: center;
    font-family: cursive;
 }

/* Put a border around your image */
 img {
    max-width: 15%;  
    height: auto;  
    border-radius: 50%;
    border: 10px solid black
}

 main{
    padding: 50px 60px 50px 90px;
 }

/* Change the font-family of your list */
ul{
    font-family: Arial, sans-serif;
}

 /* Make your p tag a different color and italic */
 p{
    color: black;
    font-style: italic;
 }

footer{
    background-color:lightgrey;
    padding: 10px 20px 10px 20px;

}


